<div id="color-picker" class="unselectable">
    <div id="color-box">
        <div id="doughnut"></div>
    </div>
    <div id="polychrome">
        <div class="slider"></div>
    </div>
    <div id="transparency">
        <div class="slider"></div>
    </div>
    <div id="color-output"></div>

    <div id="rgba-holder">
        <p id="rgba-label" class="picker-input-label">RGBA</p>
        <input id="rgba" class="picker-input" type="text" placeholder="R, G, B, A" value="255, 0, 0, 1">
    </div>

    <div id="hex-holder">
        <p id="hex-label" class="picker-input-label">#HEX</p>
        <input id="hex" class="picker-input" type="text" placeholder="#HEX" value="FF0000">
    </div>
</div>
