#code-box {
    margin: 3.5rem 1rem 0 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px #e3e3e3 inset, -8px -8px 8px #F9F9F9 inset;
}

#code-text {
    margin: 0;
    color: #858585;
}

.code-purple {
    color: rgb(195, 9, 195);
}

.code-green {
    color: #12d694;
}

.code-blue {
    color: deepskyblue;
}

.code-orange {
    color: orange;
}

.code-beige {
    color: #d9c663;
}