:root {
  --base-color: rgba(255, 0, 0, 1);
  --picker-color: rgba(255, 0, 0, 1);
  --picker-color-opaque: rgb(255, 0, 0);
  --input-color: rgba(100, 255, 200, 0.2);
  --input-color-full: rgba(100, 255, 200, 1);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#color-picker {
  display: none;
  position: absolute;
  top: calc(50% - 250px);
  right: 0;
  left: 0;
  margin: auto;

  width: min-content;
  height: fit-content;
  /*padding: 40px 60px 35px 40px;*/

  background-color: #ffffff;
}

#picker-close {
  position: absolute;
  top: -0.5rem;
  right: -2.5rem;
  padding: 0.5rem;

  font-size: 1.8rem;
  color: #505050;

  cursor: pointer;

  transition-property: transform;
  transition-duration: 150ms;
}

#picker-close:hover {
  transform: scale(1.1);
}

#polychrome, #transparency {
  position: relative;
  display: inline-block;
  margin-top: 20px;

  width: 440px;
  height: 3rem;

  border-radius: 5px;
  box-shadow: 0 0 0 5px #ffffff;

  cursor: grab;
}

#polychrome {
  background: linear-gradient(90deg, 
            rgba(255,0,0,1) 0%, 
            rgba(255,255,0,1) 17%,
            rgba(0,255,0,1) 33%, 
            rgba(0,255,255,1) 50%, 
            rgba(0,0,255,1) 66%, 
            rgba(255,0,255,1) 83%, 
            rgba(255,0,0,1) 100%);
}

#transparency {
  background: linear-gradient(90deg,
              var(--picker-color-opaque),
            rgba(255,255,255,0)),
              url("../images/checkered.png");
  background-size: contain;
}

#color-box {
  display: inline-block;
  position: relative;

  width: 270px;
  height: 270px;
  
  background: linear-gradient(180deg, #FFFFFF, #000000);
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ffffff;
}

#color-box::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, var(--base-color), black);
  -webkit-mask-image: linear-gradient(to left, white, transparent);
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ffffff;
}

#doughnut, .slider {
  position: absolute;
  right: -8px;
  z-index: 1;

  border: 4px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.8);

  pointer-events: none;
}

#doughnut {
  top: -8px;

  width: 8px;
  height: 8px;
}

.slider {
  top: -6px;

  width: 4px;
  height: 54px;
}

#color-output {
  position: absolute;
  display: inline-block;
  margin-left: 20px;

  width: 150px;
  height: 100px;

  background: linear-gradient(0deg, var(--picker-color), var(--picker-color)),
              url('../images/checkered.png');
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 3px rgba(240,240,240,1);
}

.picker-input {
  width: 140px;
  padding: 5px;

  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.3);

  font-size: 18px;
  color: #555555;
}

.picker-input-label {
  margin: 0;
  padding: 0 2px;

  background-color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  color: #555555;
}

#rgba-holder {
  position: absolute;
  top: 120px;
  left: 290px;

  height: 100px;
}

#rgba-label {
  display: inline-block;
  position: absolute;
}

#rgba {
  position: relative;
  display: inline-block;
  top: 20px;
}

#hex-holder {
  position: absolute;
  top: 185px;
  left: 290px;
  
  height: 100px;
}

#hex-label {
  display: inline-block;
  position: absolute;
}

#hex {
  position: relative;
  display: inline-block;
  top: 20px;
}

/*@media only screen and (max-height: 620px) {
  #color-picker {
    height: 260px;
    padding-right: 46px;
  }
  
  #polychrome, #transparency {
    height: 256px;
    width: 32px;
  }

  #color-box {
    height: 256px;
    width: 256px;
  }

  .slider {
    width: 40px;
  }

  #color-output {
    width: 105px;
    height: 70px;
  }

  .picker-input {
    width: 105px;
    font-size: 14px;
  }

  #rgba-holder {
    top: -150px;
    left: 15px;
  }

  #hex-holder {
    top: 186px;
    left: 427px;
  }
}*/
