body {
  margin: 0;
  overflow: hidden;

  width: 100%;

  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

#nav {
  width: var(--w);
  height: 60px;

  background-color: #FFFFFF;
}

#showcase {
  margin: auto;
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 7px 7px 30px #e6e6e6, -7px -7px 30px #ffffff;
}
