@media (width <= 1100px) {
    #panel {
        width: 520px;
    }
}

@media (width <= 855px) {
    #showcase {
        position: relative;
        margin: 4rem auto;
    }

    #panel {
        display: block;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    #canvas-container {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }
}